* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 100%;
  font-family: "Poppins", Helvetica, sans-serif;
  line-height: 1.4;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

img:hover{
  transform: scale(1);
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: all .2s linear;
}

.titreFall {
  color: #c0010c;
  font-size : 32px;
  font-weight: bold;
}

.sous-titre{
  color: rgb(85, 85, 85);
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.magrille{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:repeat(3,1fr);
  gap:3px;
  margin: 50px;
  padding-left: 130px;
  padding-right: 130px;
}


.first{
  grid-column:1/2;
  grid-row:1/2;
  position:relative; 

  .texte{
    position:absolute;
    color: white;
    font-family: inherit;
    z-index:2;
    font-size:21px;
    top:350px;
    left:50px; 
    right: 50px;
    font-weight: bold;


    .texte2{
      font-size: 15px;;
    }
  }
  .image{
    z-index:2;

  }
  
}
.second{
  grid-column:2/3;
  grid-row:1/2;
}
.third{
  grid-column:3/4;
  grid-row:1/2;
}

.first2{
  grid-column:1/2;
  grid-row:2/3;
}

.second2{
  grid-column:2/3;
  grid-row:2/3;
}

.third2{
  grid-column:3/4;
  grid-row:2/3;
}

.first3{
  grid-column:1/2;
  grid-row:3/4;
}
.second3{
  grid-column:2/3;
  grid-row:3/4;
}
.third3{
  grid-column:3/4;
  grid-row: 3/4;
}

.Deux{
  display: grid;
  grid-template-columns: repeat(3,1fr);

    .col1{
      grid-column:1/2;
    }
    .col2{
      grid-column:2/3;
    }
    .col3{
      grid-column:3/4;
    }
}
