header{
    z-index: 1;
    width: 100%;
    padding-right: 10px;
    font-family: "Poppins", Helvetica, sans-serif;
    background-image: url("https://atlasvoyages.com/assets/img/atlas-voyages-home.jpg");
    
    background-size: cover;
    padding-bottom: 300px;
}
nav{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: right;
    padding: 10px;

    .logo{
        grid-column: 1/1;
        }
    .texte{
        grid-column: 2/2;
        text-align: right;
        margin-top: auto;
        margin-bottom: auto;
        }
    }

a{
    color: white;
    text-shadow: 1px 1px 2px black;

}
a:hover{
color: grey;
}

input //[type="text"][type="date"][type="button"]
{
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    padding: 10px;
}


input:hover{
background-color: #037f04;
color: #ffffff;
}
