.index {
  text-align: center;
  background-color: $primaryColor;
  padding-right: 15px;
  padding-left: 15px;

  .image {
    @include border-radius(10px);
    max-width: 400px;
    margin: 30px auto;
  }
}
